<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}{% if site.tagline %} &middot; {{ site.tagline }}{% endif %}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">

  <!-- Shoelace -->
  <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/shoelace.js" ></script>
  <link
    rel="stylesheet"
    media="(prefers-color-scheme:light)"
    href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css"
  />
  <link
    rel="stylesheet"
    media="(prefers-color-scheme:dark)"
    href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/dark.css"
    onload="document.documentElement.classList.add('sl-theme-dark');"
  />

  <script type="module" src="https://cdn.jsdelivr.net/npm/@au5ton/dango/dist/index.browser.js"></script>

  {% seo title=false %}
</head>
