:root {
  --poole-body-color: #515151;
  --poole-body-caption: var(--poole-gray-3);
  --poole-body-bg: #fff;
  --poole-gray-1: #f9f9f9;
  --poole-gray-1half: #e5e5e5;
  --poole-gray-2: #ccc;
  --poole-gray-3: #767676;
  --poole-gray-4: #515151;
  --poole-gray-5: #313131;
}

@media (prefers-color-scheme: dark) {
  :root {
    --poole-body-color: #fff;
    --poole-body-caption: var(--poole-gray-4);
    --poole-body-bg: #212121;
    --poole-gray-5: #f9f9f9;
    --poole-gray-4: #ccc;
    --poole-gray-3: #767676;
    --poole-gray-2: #515151;
    --poole-gray-1half: #414141;
    --poole-gray-1: #313131;
  }
}

$gray-1: var(--poole-gray-1);
$gray-1half: var(--poole-gray-1half);
$gray-2: var(--poole-gray-2);
$gray-3: var(--poole-gray-3);
$gray-4: var(--poole-gray-4);
$gray-5: var(--poole-gray-5);

$red: #ac4142;
$orange: #d28445;
$yellow: #f4bf75;
$green: #90a959;
$cyan: #75b5aa;
$blue: #268bd2;
// $blue: #6a9fb5;
$brown: #8f5536;

$root-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$root-font-size: 16px;
$root-line-height: 1.5;

$body-color: var(--poole-body-color);
$body-caption: var(--poole-body-caption);
$body-bg: var(--poole-body-bg);
$link-color: $blue;

$border-color: #e5e5e5;

$large-breakpoint: 38em;
$large-font-size: 20px;

$code-font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$code-color: #bf616a;

:root {
	--nc-font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	/* --nc-font-mono: Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Cascadia Mono', 'Courier New', Courier, monospace; */
	--nc-font-mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, 'Cascadia Mono', Consolas, Liberation Mono, monospace;

	/* Light theme */
	--nc-tx-1: #000000;
	--nc-tx-2: #1A1A1A;
	--nc-bg-1: #FFFFFF;
	--nc-bg-2: #F6F8FA;
	--nc-bg-3: #E5E7EB;
	--nc-lk-1: #0070F3;
	--nc-lk-2: #0366D6;
	--nc-lk-tx: #FFFFFF;
	--nc-ac-1: #79FFE1;
	--nc-ac-tx: #0C4047;

	/* Dark theme */
	--nc-d-tx-1: #ffffff;
	--nc-d-tx-2: #eeeeee;
	--nc-d-bg-1: #000000;
	--nc-d-bg-2: #111111;
	--nc-d-bg-3: #222222;
	--nc-d-lk-1: #3291FF;
	--nc-d-lk-2: #0070F3;
	--nc-d-lk-tx: #FFFFFF;
	--nc-d-ac-1: #7928CA;
	--nc-d-ac-tx: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
	:root {
		--nc-tx-1: var(--nc-d-tx-1);
		--nc-tx-2: var(--nc-d-tx-2);
		--nc-bg-1: var(--nc-d-bg-1);
		--nc-bg-2: var(--nc-d-bg-2);
		--nc-bg-3: var(--nc-d-bg-3);
		--nc-lk-1: var(--nc-d-lk-1);
		--nc-lk-2: var(--nc-d-lk-2);
		--nc-lk-tx: var(--nc--dlk-tx);
		--nc-ac-1: var(--nc-d-ac-1);
		--nc-ac-tx: var(--nc--dac-tx);
	}
}